/* https://github.com/markrosos/BetterDiscord-Darker-Theme */

/* Windows Colors */
:root {
    --windark1: #202020;
    --windark2: #1c1c1c;
    --windark3: #282828;
    --windark4: #2c2c2c;

    --windark-mica: #202020;
    --windark-acrylic: #222222;

    --windarkborder1: 1px solid rgba(117, 117, 117, 0.4);
    --windarkborder2: 1px solid rgba(255, 255, 255, 0.0837);
    --windarkborder3: 1px solid rgba(0, 0, 0, 0.1);
    --windarkborder4: 1px solid rgba(0, 0, 0, 0.2);

    --windark-check1: rgba(255, 255, 255, 0.5442);

    --windark-toggle-off: rgba(255, 255, 255, 0.786);

    --windark-button-bg: #2a2a2a;
    --windark-button-border: #2c2c2c;
    --windark-button-top: #313131;
    --windark-button-bottom: #2b2b2b;
    --windark-button-hover: #2f2f2f;
    --windark-button-hover-border: #2a2a2a;
    --windark-button-hover-top: #313131;
    --windark-button-hover-bottom: #2b2b2b;

    --windark-box1: linear-gradient(0deg, rgba(44, 44, 44, 0.15), rgba(44, 44, 44, 0.15)), rgba(44, 44, 44, 0.96);

    --blue-button-bg: hsl(var(--H), calc(1*var(--S)), calc(1*var(--L)));
    --blue-button-border: hsl(var(--H), calc(1*var(--S)), calc(1.03*var(--L)));
    --blue-button-top: hsl(var(--H), calc(1*var(--S)), calc(1.03*var(--L)));
    --blue-button-bottom: hsl(var(--H), calc(0.7*var(--S)), calc(0.90*var(--L)));
    --blue-button-hover: hsl(var(--H), calc(0.76*var(--S)), calc(0.91*var(--L)));
    --blue-button-hover-border: hsl(var(--H), calc(0.76*var(--S)), calc(0.96*var(--L)));
    --blue-button-hover-top: hsl(var(--H), calc(0.76*var(--S)), calc(0.96*var(--L)));
    --blue-button-hover-bottom: hsl(var(--H), calc(0.58*var(--S)), calc(0.83*var(--L)));

    --wintransition: all 200ms;

    --winrad1: 3px;
    --winrad2: 4px;
    --winrad3: 7px;
    --winrad4: 8px;

    --winblur1: 60px;
    --winblur2: 240px;
}

/* Discord Colors */
.theme-dark {
    --info-positive-background: #393D1B;
    --info-positive-foreground: #6CCB5F;
    --info-warning-background: #433519;
    --info-warning-foreground: #FCE100;
    --info-danger-background: #442726;
    --info-danger-foreground: #FF99A4;
    --status-positive-background: #393D1B;
    --status-positive-text: #fff;
    --status-warning-background: #433519;
    --status-danger-background: #442726;
    --status-danger-text: #fff;
    --focus-primary: #60CDFF;
}

.theme-dark {
    --header-primary: #fff;
    --header-secondary: #b9bbbe;
    --text-normal: #dcddde;
    --text-muted: #72767d;
    --text-positive: var(--online-color);
    --text-warning: var(--idle-color);
    --text-danger: var(--dnd-color);
    --interactive-normal: #b9bbbe;
    --interactive-hover: #dcddde;
    --interactive-active: #fff;
    --interactive-muted: #4f545c;
    --background-primary: var(--windark4);
    --background-secondary: var(--windark3);
    --background-secondary-alt: var(--windark1);
    --background-tertiary: var(--windark2);
    --background-accent: #4f545c;
    --background-floating: var(--windark-mica);
    --background-nested-floating: var(--windark3);
    --background-mobile-primary: var(--windark4);
    --background-mobile-secondary: var(--windark3);
    --input-background: var(--windark3);
    --background-modifier-hover: rgba(255, 255, 255, 0.0605);
    --background-modifier-active: rgba(255, 255, 255, 0.0419);
    --background-modifier-selected: rgba(255, 255, 255, 0.0419);
    --background-modifier-accent: rgba(255, 255, 255, 0.0605);
    --info-positive-text: #fff;
    --info-warning-text: #fff;
    --info-danger-text: #fff;
    --info-help-background: hsla(197, 100%, 47.8%, 0.1);
    --info-help-text: #fff;
    --status-warning-text: #000;
    --scrollbar-thin-thumb: #9f9f9f;
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-thumb: #9f9f9f;
    --scrollbar-auto-track: transparent;
    --scrollbar-auto-scrollbar-color-thumb: #9f9f9f;
    --scrollbar-auto-scrollbar-color-track: transparent;
    --elevation-stroke: 1px solid rgba(0, 0, 0, 0.1);
    --elevation-low: 0px 2px 4px rgba(0, 0, 0, 0.13);
    --elevation-medium: 0px 8px 16px rgba(0, 0, 0, 0.14);
    --elevation-high: 0px 4px 8px rgba(0, 0, 0, 0.26);
    --logo-primary: #fff;
    --background-mentioned: hsla(38, 95.7%, 54.1%, 0.1);
    --background-mentioned-hover: hsla(38, 95.7%, 54.1%, 0.08);
    --background-message-hover: rgba(4, 4, 5, 0.07);
    --background-message-automod: hsla(359, 82.6%, 59.4%, 0.05);
    --background-message-automod-hover: hsla(359, 82.6%, 59.4%, 0.1);
    --channels-default: #8e9297;
    --guild-header-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    --channeltextarea-background: #3a3a3a;
    --activity-card-background: var(--windark2);
    --textbox-markdown-syntax: #8e9297;
    --spoiler-revealed-background: var(--windark1);
    --spoiler-hidden-background: var(--windark2);
    --deprecated-card-bg: rgba(32, 34, 37, 0.6);
    --deprecated-card-editable-bg: rgba(32, 34, 37, 0.3);
    --deprecated-store-bg: var(--windark4);
    --deprecated-quickswitcher-input-background: #72767d;
    --deprecated-quickswitcher-input-placeholder: hsla(0, 0%, 100%, 0.3);
    --deprecated-text-input-bg: rgba(0, 0, 0, 0.1);
    --deprecated-text-input-border: rgba(0, 0, 0, 0.3);
    --deprecated-text-input-border-hover: #040405;
    --deprecated-text-input-border-disabled: var(--windark2);
    --deprecated-text-input-prefix: #dcddde;

    --info-help-background: hsla(var(--link-500-rgb),0.1);
    
    --mention-background: hsla(var(--brand-500-rgb),0.3);

    --background-message-highlight: hsla(var(--brand-360-rgb),0.08);
    --background-message-highlight-hover: hsla(var(--brand-360-rgb),0.06);
}
